In [1]:
import pandas as pd

# Creating Series
Series are 1-dimensional

In [2]:
series = pd.Series(['BMW','Toyota','Honda'])

In [3]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [5]:
color = pd.Series(['Black','White','Red'])

# Creating DataFrames 
Dataframes are 2-dimensional

In [6]:
dataFrame= pd.DataFrame({'Make':series,'Color':color})

In [7]:
dataFrame

     Make  Color
0     BMW  Black
1  Toyota  White
2   Honda    Red

# Importing Data

In [9]:
Car_sales = pd.read_csv('car-sales.csv')

In [10]:
Car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

# Exporting Data

In [16]:
Car_sales.to_csv('export_car_sales.csv', index = False)

In [17]:
export_Car_sales = pd.read_csv('export_car_sales.csv')

In [18]:
export_Car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00